*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/**
.settings/org.eclipse.buildship.core.prefs
.project
app/.classpath
app/.settings/org.eclipse.buildship.core.prefs
